@use "../abstracts/variables";

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    transition: all 0.2s;
    position: relative;
    font-size: variables.$default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(variables.$color-black, 0.2);
  }

  &--white {
    background-color: variables.$color-white;
    color: variables.$color-grey-dark;

    &::after {
      background-color: variables.$color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.6s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    color: variables.$color-primary;
    text-decoration: none;
    border-bottom: 1px solid variables.$color-primary;
    padding: 3px;
    font-size: variables.$default-font-size;
    transition: all 0.2s;
  }

  &:hover {
    background-color: variables.$color-primary;
    color: variables.$color-white;
    box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.2);
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(variables.$color-black, 0.2);
  }
}
